<mat-toolbar color="primary">
    <mat-toolbar-row>
        <h1 class="mat-h1 full-size">Angular Activated!</h1>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <h2 class="mat-h2 full-size">Confirmation initialization of application before load</h2>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <div class="full-size">
            <button mat-button (click)="onReset()">Reset And Reload</button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<div class="container">
    <app-example></app-example>
</div>
