p, .mat-h2 {
    color: rgba(0, 0, 0, 0.54);
}

.mat-h2 {
    display: block;
    font-size: 25px;
    font-weight: 400;
    margin: 0 0 16px;
    padding: 0;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin: 0 0 24px;
    padding: 0;
}

code {
    width: 545px;
    padding: 0 25px 25px 25px;
    margin: 0 0 36px;
}
