<mat-toolbar color="primary">
    <mat-toolbar-row>
        <a mat-button routerLink="/">
            <img class="angular-logo" src="/assets/img/angular-white-transparent.svg" alt="Angular">
            NgxCanActivateApp
        </a>
        <span class="spacer"></span>
        <a mat-button href="https://github.com/IndigoSoft/ngx-can-activate-app" target="_blank">
            <img class="github-logo" src="/assets/img/github-circle-white-transparent.svg" alt="NgxCanActivateApp">
            Github
        </a>
    </mat-toolbar-row>
</mat-toolbar>
